<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <!-- https://devdocs.magento.com/guides/v2.4/extension-dev-guide/security/content-security-policies.html -->
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
    </default>
    <!-- store specific whitelisting -->
    <!--
    <stores>
        <STORE_1_CODE>
            <csp>
                <policies>
                    <storefront>
                        <custom_example_script>
                            <policy_id>script-src</policy_id>
                            <hosts>
                                <host_1>*.example.io</host_1>
                                <host_2>scripts.example.com</host_2>
                            </hosts>
                        </custom_example_script>
                    </storefront>
                </policies>
            </csp>
        </STORE_1_CODE>
        <STORE_2_CODE>
            <csp>
                <policies>
                    <storefront>
                        <custom_example_script>
                            <policy_id>script-src</policy_id>
                            <hosts>
                                <host_1>*.examplez.io</host_1>
                                <host_2>scripts.examplez.com</host_2>
                            </hosts>
                        </custom_example_script>
                    </storefront>
                </policies>
            </csp>
        </STORE_2_CODE>
    </stores>
    -->
</config>
